<strong>Olá, {{ deliveryman }}</strong>

<p>Houve um cancelamento de entrega, confira os detalhes abaixo:</p>
<p>
  <strong>Nome: </strong> {{ name }} <br>
  <strong>Rua: </strong> {{ rua }} <br>
  <strong>CEP: </strong> {{ cep }} <br>
  <br>
  <small>O horário está disponível novamente.</small>
</p>
